.card {
  --card-background-color: var(--sand-0);
  --card-border-color: var(--sand-0);

  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  padding: var(--gap-m);
  border-radius: 6px;
  box-shadow: var(--shadow-card);
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  outline: none;
  position: relative;
  transition: var(--transitions);

  * {
    min-width: 0;
  }

  :global(.dark) & {
    --card-shadow-hover-color: rgba(0, 0, 0, 0.2);
  }

  &[data-padding='s'] {
    padding: var(--gap-s);
  }
  &[data-padding='m'] {
    padding: var(--gap-m);
  }
  &[data-padding='l'] {
    padding: var(--gap-l);
  }

  &[data-padding-inline='s'] {
    padding-inline: var(--gap-s);
  }
  &[data-padding-inline='m'] {
    padding-inline: var(--gap-m);
  }
  &[data-padding-inline='l'] {
    padding-inline: var(--gap-l);
  }

  &[data-gap='xs'] {
    gap: var(--gap-xs);
  }
  &[data-gap='s'] {
    gap: var(--gap-s);
  }
  &[data-gap='m'] {
    gap: var(--gap-m);
  }
  &[data-gap='l'] {
    gap: var(--gap-l);
  }

  &:hover {
    z-index: 5;
  }
  &:focus-visible {
    z-index: 10;
  }

  &[role='button'],
  &[href] {
    cursor: pointer;

    &:hover {
      background-color: var(--card-background-hover-color, var(--sand-0)) !important;
      border-color: var(--card-border-hover-color, var(--card-border-color)) !important;
      &[data-background='sand-0'] {
        background-color: var(--card-background-hover-color, var(--sand-1)) !important;
      }
    }

    &[data-focus='true']:focus-visible {
      box-shadow: 0 0 0 4px var(--violet-5);
      border-color: var(--violet-9);
    }
  }

  &[data-animate-in='true'] {
    opacity: 0;
    animation: animateIn 500ms forwards;

    @keyframes animateIn {
      from {
        opacity: 0;
        transform: scale(0.95, 0.95);
      }
      to {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
}

.cardThumbnail {
  width: 72px;
  height: 72px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 6px;
  box-shadow: var(--shadow-card);

  .card {
    border-radius: 0;
    box-shadow: none;

    &:not(:last-child) {
      margin-bottom: -1px;
    }

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
