.sbdocs-preview {
  background: var(--sand-1) !important;
}

.sbdocs-content {
  .sb-story {
    margin-bottom: 40px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    a[aria-hidden='true'] {
      display: inline-block;
      float: none;
      margin: 0;
      opacity: 0.5;

      &:hover,
      &:focus-within {
        opacity: 1;
      }

      svg {
        visibility: visible;
      }
    }
  }
}
