.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background: var(--sand-6);
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.5rem;

  & {
    @media (max-width: 600px) {
      button {
        font-size: 12px;
      }
    }
  }
}
